.titulo {
    background-color: #BFDDBC;
    text-align: center;
    padding-top: 60px;
    height: 320px; 
    position: relative;
    overflow: visible;
}

.titulo img {
    max-width: 500px;
    transform: translateY(60px);
}

main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.texto {
    max-width: 500px;
    text-align: justify;
    margin: 100px auto 0 auto;
}
