<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Blog: Only Footer</title>
</head>
<body>
    
<!-- Sección del Footer, por David Paez -->
<footer>
    <div class="genFootSect">
        <h3>Vida Saludable</h3>
        <p>Blog de vida saludable</p>
    </div>
    <div class="genFootSect">
        <h3>Autores</h3>
        <ul>
            <li>Edson Garcia</li>
            <li>David Paez</li>
            <li>Jaider Montaña</li>
            <li>Angel Pimienta</li>
        </ul>
    </div>
    <div class="genFootSect">
        <h3>Correo de contacto</h3>
        <a href="#">contacto@vidasaludable.com</a>
        <br>
        <h3>Redes sociales</h3>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>
</footer>
<!-- Fin del Footer -->

</body>
</html>