<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="footer.css">
    <title>Blog: Only Footer</title>
</head>
<body>
    
<!-- Sección del Footer, por David Paez -->
<div style="width: 100%; height: 400px;"></div>
<footer class="container-fluid row d-flex align-items-center justify-content-center">
    <div class="col-md p-4 genFootSect">
        <h3>Vida Saludable</h3>
        <p>Blog de vida saludable</p>
    </div>
    <div class="col-md p-4 genFootSect justify-content-center">
        <h3 class="text-center">Autores</h3>
        <ul>
            <li><a target="_blank" href="https://github.com/Estebangccoder"><i class="bi bi-github"></i> Edson Garcia</a></li>
            <li><a target="_blank" href="https://github.com/daviddppaez"><i class="bi bi-github"></i> David Paez</a></li>
            <li><a target="_blank" href="https://github.com/Jaider-Duvan"><i class="bi bi-github"></i> Jaider Montaña</a></li>
            <li><a target="_blank" href="https://github.com/PIMIENTA-S"><i class="bi bi-github"></i> Angel Pimienta</a></li>
            <li><a target="_blank" href="https://github.com/yohana993"><i class="bi bi-github"></i> Yohana Villaraga</a></li>
        </ul>
    </div>
    <div class="col-md p-4 genFootSect genContact">
        <h3>Contacto</h3>
        <a href="#">contacto@vidasaludable.com</a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
</footer>
<!-- Fin del Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>